//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:regular,600,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900);
@import './bootstrap/bootstrap.scss';


// Colors

$lb: #385170;
$g: #A9EEC2;
$b: #142D4C;
$grey: #B5b5b5;
$white: #f5f5f5;

// Reset
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    background: #ececec;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;

    &:after,
    &:before {
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

ul {
    list-style: none;
    padding: 0;

}

p {
    line-height: 28px;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    color: $lb;
}

h1 {
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    color: $b;
}

.btn {
    background: $g;
    width: 225px;
    height: 52px;
    padding: .8em;
    text-decoration: none;
    border-radius: 52px;
    font-family: 'Work Sans';
    color: $b;
}

.navigation {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container {
        margin-left: 5%;

        .logo {
            font-family: 'Source Serif Pro';
            font-weight: 700;
            color: $b;
            font-size: 16px;
        }

    }

    .menu-container {
        margin-right: 5%;

        .menu {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin: 0 22px;
                color: $blue;

                a {
                    font-family: 'Work Sans';
                    color: $b;
                }
            }
        }
    }

}

.download {
    background: $b;
    height: 666px;
    padding: 0 5%;
    text-align: center;

    .img {
        margin-bottom: 50px;
    }

    h1 {
        color: $white;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 30px;
        color: $grey;
    }
}

.hero {
    min-height: 100vh;
    padding: 0 5%;

    .content {
        .img {
            margin-bottom: 60px;
            background: url('./assets/hero-desktop.png');
            height: 415px;
            width: 812px;
        }

        h1 {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 50px;
        }
    }
}

.uses {
    width: 100%;
    padding: 50px 5%;
    background: $white;
    margin-bottom: 208px;

    h1 {
        margin-bottom: 50px;
    }

    .row {
        width: 100%;

        .use {
            margin: 0 7.625em;

            p {
                text-align: center;
            }
        }
    }
}

.features {
    padding: 0 5%;
    width: 100%;
    margin-bottom: 208px;

    .feature {
        .img {
            width: 812px;
            height: 600px;
            position: relative;


        }

        .content {
            h1 {
                margin-bottom: 30px;
                position: relative;
                padding-bottom: 10px;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 1px;
                    background: $grey;
                    opacity: .3;

                }
            }

            p {
                margin-bottom: 50px;
            }
        }

    }

    .feature-one {
        margin-bottom: 110px;

        .img {
            height: 600px;
            background: url('./assets/feautre-one-desktop.png') no-repeat center;
            background-size: contain;
        }

    }

    .feature-two {
        .img {
            height: 600px;
            background: url('./assets/feature-two-desktop.png') no-repeat center;
            background-size: contain;
        }


    }
}

.clients {
    width: 90%;
    margin: 0 auto 208px auto;

    .content {
        width: 90%;

        .img {
            width: 1364px;
            height: 300px;
            background-image: url('./assets/Clients.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

    }

}




.footer {
    padding: 40px 5%;

    .credit {
        p {
            a {
                color: $b;
                padding-bottom: 4px;
                border-bottom: 1px dashed $lb;
            }
        }
    }

    .social {
        ul {
            li {
                margin: 0 20px;
            }
        }
    }

}


/*-----Repsonsive------------------------------*/



@media screen and (max-width: 375px) {



    .hero {
        .content {
            .img {
                background: url('./assets/hero-mobile.png');
                width: 302px;
                height: 201px;
            }
        }
    }

    .uses {
        margin-bottom: 50px;

        .row {
            .use {
                margin: 50px 50px;
            }
        }
    }

    .features {
        margin-top: 0;
        padding: 0 15%;

        .feature {

            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .img {
                margin: 0px 0px;
                width: 100%;
                height: 268px;
                margin: 0 auto 20px auto;
                background-size: 100%;
                background-repeat: no-repeat;
                // /background-position: center;
                padding: 0;

            }

            .content {
                margin-top: 0;


            }
        }

        .feature-one {
            margin-bottom: 50px;
        }



    }

    .clients {
        margin-bottom: 80px;
        width: 100%;

        .content {
            width: 90%;

            .img {
                margin: 20px auto;
                width: 302px;
                height: 66.42px;
                background: url('./assets/Clients.png');
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }

        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        * {
            text-align: center;
        }

    }


}