//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:regular,600,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900);
@import './bootstrap/bootstrap.scss';


// Colors

$lb: #385170;
$g: #A9EEC2;
$b: #142D4C;
$grey: #B5b5b5;
$white: #f5f5f5;

// Reset
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    background: #ececec;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
    &:after, &:before{
        box-sizing: border-box;
    }
}
a{
text-decoration: none;
&:hover{
    text-decoration: none;
    color: inherit;
}
}
ul {
    list-style: none;
    padding: 0;

}

p {
    line-height: 28px;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    color: $lb;
}

h1 {
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    color: $b;
}

.btn {
    background: $g;
    width: 225px;
    height: 52px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 52px;
    font-family: 'Work Sans';
    color: $b;
}
.nav{
    padding: 50px 5%;
    .logo{
        font-family: 'Source Serif Pro';
        font-weight: 700;
        color: $b;
        font-size: 24px;
    }
    .menu{
        display: flex;
        li{
            margin: 0 22px;
            color: $blue;
        }
    }
}

.download{
    background: $b;
    height: 666px;
    padding: 0 5%;
    h1{
        color: $white;
    }
    p{
        color: $grey;
    }
}
.hero{
    min-height: 100vh;
    padding:0 5%;
    .content{
        .img{
            margin-bottom: 60px;
        }
        h1{
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 50px;
        }
    }
}
.uses{
    width: 100%;
    padding: 50px 5%;
    background: $white;
    margin-bottom: 208px;
    h1{
        margin-bottom: 50px;
    }
    .row{
        width: 100%;
        .use{
            margin:0 7.625em;
            p{
                text-align: center;
            }
        }
    }
}

.features{
    padding: 0 5%;
    width: 100%;
    margin-bottom: 208px;
    .feature{
        .col-md-8{
            width: 812px;
            height: 600px;
            position: relative;
            
            
        }
        .content{
            h1{
                margin-bottom: 30px;
                position: relative;
                padding-bottom: 10px;
             &:after{
                 content: '';
                 position: absolute;
                 left: 0;
                 bottom: 0;
                 right: 0;
                 width: 100%;
                 height: 1px;
                 background: $grey;
                 opacity: .3;
                 
             }
            }
            p{
                margin-bottom: 50px;
            }
        }

    }
    .feature-one{
            margin-bottom: 110px;
            .img{
                min-height: 600px;
                
                background: url('./assets/feautre-one-desktop.png') no-repeat  center;
                background-size: contain;
            }
            
        }
        .feature-two{
                    .img{
                        height: 600px;
                        
                        background: url('./assets/feature-two-desktop.png') no-repeat center;
                        background-size: contain;
                    }
            

    }
}
.clients{
    height: 443px;
    margin-bottom: 208px;
    img{
        min-height: 300px;
    }
}




.footer{
    padding :40px 5%;
    .credit{
        p{
            a{
                color: $b;
                padding-bottom: 4px;
                border-bottom: 1px dashed $lb;
            }
        }
    }
    .social{
        ul{
            li{
                margin: 0 20px;
            }
        }
    }
    
}



@media screen and  (max-width: 375px){

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}justify-content: center;


}